<section fxLayout="row" class="v-tasks">
    <mat-card fxFlex="25" class="v-tasks__card prev">
        <mat-card-header class="v-tasks__card--header">
            <mat-card-title class="" fxLayout="row" fxLayoutGap="10px">
                <span class="v-tasks__card--header--date">Август 10</span>
                <span fxFlex class="v-tasks__card--header--energy"  fxLayoutAlign="center center">210кВт</span>
                <span class="v-tasks__card--header--time"  fxLayoutAlign="center center">9ч</span>
                <span class="v-tasks__card--header--result" fxLayoutAlign="end center">2200кг</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="v-tasks__card--content">
            <mat-list class="">
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center">
                        <div class="task-item--weight">
                            500
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <div class="task-item--number">
                            013
                        </div>
                    </h4>
                </mat-list-item>
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center">
                        <div class="task-item--weight">
                            500
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <div class="task-item--number">
                            014
                        </div>
                    </h4>
                </mat-list-item>
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center">
                        <div class="task-item--weight">
                            500
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <div class="task-item--number">
                            015
                        </div>
                    </h4>
                </mat-list-item>
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center">
                        <div class="task-item--weight">
                            700
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <div class="task-item--number">
                            016
                        </div>
                    </h4>
                </mat-list-item>
            </mat-list>   
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50" class="v-tasks__card current">
        <mat-card-header class="">
            <mat-card-title class="">
                Август 12
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="v-tasks__card--content">
            <mat-list class="">
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
                        <div class="task-item--weight">
                            500
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <button mat-button disabled>завершено</button>
                        <div class="task-item--number">
                            020
                        </div>
                    </h4>
                </mat-list-item>
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
                        <div class="task-item--weight">
                            500
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <button mat-stroked-button color="primary">измельчение</button>
                        <div class="task-item--number">
                            021
                        </div>
                    </h4>
                </mat-list-item>
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
                        <div class="task-item--weight">
                            500
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <button mat-stroked-button color="primary">упаковка</button>
                        <div class="task-item--number">
                            022
                        </div>
                    </h4>
                </mat-list-item>
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
                        <div class="task-item--weight">
                            500
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <button mat-button color="primary">начать</button>
                        <div class="task-item--number">
                            023
                        </div>
                    </h4>
                </mat-list-item>
            </mat-list>   
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="25" class="v-tasks__card next">
        <mat-card-header class="">
            <mat-card-title class="">
                Август 13
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="v-tasks__card--content">
            <mat-list class="">
                <mat-list-item class="task-item">
                    <h4 mat-line fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
                        <div class="task-item--weight">
                            500
                        </div>
                        <div class="task-item--name" fxFlex>
                            Feedy <span class="green">Green</span>
                        </div>
                        <div class="task-item--number">
                            020
                        </div>
                    </h4>
                </mat-list-item>
            </mat-list>   
        </mat-card-content>
    </mat-card>
</section>
<v-recipe></v-recipe>