$dark-blue: #0D47A1;
$light-blue: #BBDEFB;
.v-warehouse {
    &__card {
        margin: 1em;
        &--header {
        }
        &--title {
            font-size: 2em;
            text-transform: uppercase;
            margin: 0px;
        }
        &--content {
            .material-list {
                &__item {
                    padding: 6px 0;
                    border-bottom: 1px solid #eee;
                    &--type {
                        text-transform: uppercase;
                    }
                    &--number {
                        margin-right: 2em;
                        font-size: 1.2em;
                        background-color: #555;
                        padding: 0.5em;
                        border-radius: 2px;
                        width: 20px;
                        text-align: center;
                        color: #f0f0f0;
                    }
                    &--weight {
                        border: 1px solid $dark-blue;
                        border-radius: 4px;
                        span {
                            padding: 6px 0px;
                            display: inline-block;
                            font-weight: bold;
                            font-size: 1.2em;
                            width: 80px;
                            text-align: center;
                        }
                        span:first-child {
                            color: $dark-blue;
                        }
                        span:last-child {
                            background-color: $dark-blue;
                            color: #f0f0f0;
                        }
                    }
                }
            }
        }
    }
}